{% extends "layout.html" %}
{% load static %}

{% block title %}{% endblock  %}

{% block unique %}
<link href="http://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'styles/portfolio.css' %}">
{% endblock  %}

{% block content %}


<!-- home section design-->
<section class="home" id="home">

    <div class="home-content">
        <h3>Hello, It's me</h3>
        <h1>Fordjour Jones Michael</h1>
        <h3>And I'm a <span class="multiple-text"></span></h3>
        <p>Amazon is the leading in digital marketing around the globe with
            quality and quantity sales of products. We have everything to offer you ,
            you just ask for it. Our products are affordable and of high standard.
            If you have any question you <a style="color:orange;" href="{% url 'products:contact_me' %}">contact us</a>.Thank you
        </p>
        <div class="social-media">
            <a href="#"><i class="bx bxl-facebook"></i></a>
            <a href="#"><i class="bx bxl-twitter"></i></a>
            <a href="#"><i class="bx bxl-instagram-alt"></i></a>
            <a href="#"><i class="bx bxl-linkedin"></i></a>
        </div>
        <a href="" class="btn" onclick="download()">Download</a>
    </div>

    <div class="home-img">
        <div class="hexagon">
            <img src="{% static 'images/profile_pic.jpeg' %}" alt="" width="100px" height="300px">
        </div>
    </div>

</section>

<!-- about section design -->

<section class="about" id="about">
    <div class="about-img">
        <img src="{% static 'images/profile_pic.jpeg' %}" alt="profile picture" height="300px">
    </div>

    <div class="about-content">
        <h2 class="heading">About <span>Me</span></h2>
        <h3>Web Developer!</h3>
        <p>Amazon is the leading in digital marketing around the globe with
            quality and quantity sales of products. We have everything to offer you ,
            you just ask for it. Our products are affordable and of high standard.
            If you have any question you <a style="color:orange;" href="{% url 'products:contact_me' %}">contact us</a>.Thank you</p>
        <a href="#" class="btn">Read More</a>
    </div>
</section>

{% endblock  %}
