{% extends "layout.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/detail_style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
{% endblock  %}

{% block content %}
<br><br><br>
<div class = "card-wrapp">
    <div class = "cards">
      <!-- card left -->
      <div class = "product-imgs">
        <div class = "img-display">
          <div class = "img-showcase">
            <img  src = "{{product.image.url}}" alt = "shoe image">
          </div>
        </div>
        <br>
        <p style="font-size:1.4rem;">Related Products</p>
        <br>
        <div class = "img-select">
          {% for similar in related %}
          <div class = "img-item">
            <a href = "{% url 'products:detail' str=similar.name %}" >
              <img src = "{{similar.image.url}}" alt = "shoe image">
            </a>
          </div>
         
          {% endfor %}
        </div>
      </div>
      <!-- card right -->
      <div class = "product-content">
        <h2 class = "product-title">{{product.name}}</h2>
        <div class = "product-rating">
            <img src="{{product.star.url}}" alt="">
          <span>Rating: {{product.rating}}</span>
        </div>

        <div class = "product-price">
          <p class = "new-price">Price: <span>${{product.price|floatformat:2}}</span></p>
        </div>

        <div class = "product-detail">
          <h2>about this item: </h2>
          <p>{{product.description}}</p>

          <ul>
            <li>Color: <span>{{product.appearance}}</span></li>
            {% if product.available %}
            <li>Available: <span>in stock</span></li>
            {% endif %}
            <li>Category: <span>{{product.category}}</span></li>
            <li>Shipping Area: <span>Ghana</span></li>
            <li>Shipping Fee: <span>Free</span></li>
          </ul>
        </div>

        <div class = "purchase-info">
          <button data-product={{product.id}} data-action="add" type="button" value="{{product.id}}" id="add_cart" class = "btn update-cart">
            Add to Cart <i class = "fas fa-shopping-cart"></i>
          </button>
          <button type = "button" class = "btn">Compare</button>
        </div>

      </div>
    </div>
  </div>

  <br><br><br>
{% endblock  %}

{% block script %}
<script >
    const imgs = document.querySelectorAll('.img-select a');
    const imgBtns = [...imgs];
    let imgId = 1;

    imgBtns.forEach((imgItem) => {
        imgItem.addEventListener('click', (event) => {
            event.preventDefault();
            imgId = imgItem.dataset.id;
            slideImage();
        });
    });

    function slideImage(){
        const displayWidth = document.querySelector('.img-showcase img:first-child').clientWidth;

        document.querySelector('.img-showcase').style.transform = `translateX(${- (imgId - 1) * displayWidth}px)`;
    }

    window.addEventListener('resize', slideImage);
</script>
{% endblock  %}