{% extends "layout.html" %}
{% load static %}

{% block title %}Favourite{% endblock  %}
{% block css %}
<link rel="stylesheet" href="{% static 'styles/shared/general.css' %}">
<link rel="stylesheet" href="{% static 'styles/shared/amazon-header.css' %}">
<link rel="stylesheet" href="{% static 'styles/pages/orders.css' %}">
{% endblock  %}

{% block content %}

<div class="main">
  <div class="page-title">Favourite List</div>
  {% for item in items %}
  <div class="orders-grid">
    <div class="order-container">
      
      <div class="order-header">
        <div class="order-header-left-section">
          <div class="order-date">
            <div class="order-header-label">Order Placed:</div>
            <div>{{item.date_added}}</div>
          </div>
          <div class="order-total">
            <div class="order-header-label">Price:</div>
            <div>${{item.product.price|floatformat:2}}</div>
          </div>
        </div>

        <div class="order-header-right-section">
          <div class="order-header-label">Order ID:</div>
          <div>{{item.id}}</div>
        </div>
      </div>

      <div class="order-details-grid">

        <div class="product-image-container">
          <img src="{{item.product.imageURL}}">
        </div>

        <div class="product-details">
          <div class="product-name">
            {{item.product.name}}
          </div>

          <div class="product-quantity">
            Quantity: {{item.quantity}}
          </div>
          <button class="buy-again-button button-primary">
            <img class="buy-again-icon" src="{% static 'images/icons/buy-again.png' %}">
            <span class="buy-again-message  update-cart"  data-product={{item.product.id}} data-action="add" >Buy it again</span>
          </button>
          <br>
          <button class="buy-again-button button-primary">
            <img class="buy-again-icon" src="{% static 'images/icons/buy-again.png' %}">
            <span class="buy-again-message  update-cart"  data-product={{item.product.id}} data-action="delete" >Remove</span>
          </button>
        </div>

        <div class="product-actions">
          <a href="{% url 'products:cart' %}">
            <button class="track-package-button button-secondary">
              cart
            </button>
          </a>
        </div>
        
      </div>
    </div>
  </div>
  {% endfor %}

</div>

{% endblock  %}