{% extends "layout.html" %}
{% load static %}

{% block title %}{% endblock  %}

{% block unique %}
<link href="http://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'styles/portfolio.css' %}">
{% endblock  %}

{% block content %}

<section class="services" id="services">
    <h2 class="heading">Our <span>Services</span></h2>
    <div class="services-container">
        <div class="service-box">
            <i class="bx bx-code-alt"></i>
            <h3>Web Development</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae ipsum maxime deserunt molestiae,
                mollitia debitis impedit dicta eius sunt minima.</p>
            <a href="#" class="btn">Read More</a>
        </div>

        <div class="service-box">
            <i class="bx bxs-paint"></i>
            <h3>Graphic Design</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae ipsum maxime deserunt molestiae,
                mollitia debitis impedit dicta eius sunt minima.</p>
            <a href="#" class="btn">Read More</a>
        </div>

        <div class="service-box">
            <i class="bx bx-bar-chart-alt"></i>
            <h3>Digital Marketing</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae ipsum maxime deserunt molestiae,
                mollitia debitis impedit dicta eius sunt minima.</p>
            <a href="#" class="btn">Read More</a>
        </div>
    </div>
</section>


{% endblock  %}




<section class="services" id="services">
    <h2 class="heading">Our <span>Services</span></h2>
    <div class="services-container">
        <div class="service-box">
            <i class="bx bx-code-alt"></i>
            <h3>Web Development</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae ipsum maxime deserunt molestiae,
                mollitia debitis impedit dicta eius sunt minima.</p>
            <a href="#" class="btn">Read More</a>
        </div>

        <div class="service-box">
            <i class="bx bxs-paint"></i>
            <h3>Graphic Design</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae ipsum maxime deserunt molestiae,
                mollitia debitis impedit dicta eius sunt minima.</p>
            <a href="#" class="btn">Read More</a>
        </div>

        <div class="service-box">
            <i class="bx bx-bar-chart-alt"></i>
            <h3>Digital Marketing</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae ipsum maxime deserunt molestiae,
                mollitia debitis impedit dicta eius sunt minima.</p>
            <a href="#" class="btn">Read More</a>
        </div>
    </div>
</section>
