{% extends "layout.html" %}
{% load static %}

{% block title %}{% endblock  %}

{% block unique %}
<link href="http://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'styles/portfolio.css' %}">
{% endblock  %}

{% block content %}
{% comment %} <header class="header">
    <a href="#" class="logo">Portfolio</a>

    <i class="bx bx-menu" id="menu-icon"></i>

    <nav class="navbar">
        <a href="#home" class="active">Home</a>
        <a href="#about">About</a>
        <a href="#services">Services</a>
        <a href="#portfolio">Portfolio</a>
        <a href="#contact">Contact</a>
    </nav>
</header> {% endcomment %}

<!-- home section design-->
<section class="home" id="home">

    <div class="home-content">
        <h3>Hello, It's me</h3>
        <h1>Fordjour Jones Michael</h1>
        <h3>And I'm a <span class="multiple-text"></span></h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio ad fugit eligendi cupiditate tempora
            quidem optio repellat amet earum nam.</p>
        <div class="social-media">
            <a href="#"><i class="bx bxl-facebook"></i></a>
            <a href="#"><i class="bx bxl-twitter"></i></a>
            <a href="#"><i class="bx bxl-instagram-alt"></i></a>
            <a href="#"><i class="bx bxl-linkedin"></i></a>
        </div>
        <a href="" class="btn" onclick="download()">Download</a>
    </div>

    <div class="home-img">
        <div class="hexagon">
            <img src="images/home.png" alt="" width="100px" height="300px">
        </div>
    </div>

</section>

<!-- about section design -->

<section class="about" id="about">
    <div class="about-img">
        <img src="images/about.png" alt="" height="300px">
    </div>

    <div class="about-content">
        <h2 class="heading">About <span>Me</span></h2>
        <h3>Web Developer!</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos necessitatibus doloribus laudantium alias
            blanditiis, molestias ab ea ipsa nemo soluta quaerat repellendus rerum dolorem suscipit minima,
            distinctio, autem impedit harum tenetur adipisci commodi fugit voluptates! Odit fuga fugit vel deleniti
            consectetur reiciendis aut ex quaerat quos!</p>
        <a href="#" class="btn">Read More</a>
    </div>
</section>

<!-- service section design -->

<section class="services" id="services">
    <h2 class="heading">Our <span>Services</span></h2>
    <div class="services-container">
        <div class="service-box">
            <i class="bx bx-code-alt"></i>
            <h3>Web Development</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae ipsum maxime deserunt molestiae,
                mollitia debitis impedit dicta eius sunt minima.</p>
            <a href="#" class="btn">Read More</a>
        </div>

        <div class="service-box">
            <i class="bx bxs-paint"></i>
            <h3>Graphic Design</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae ipsum maxime deserunt molestiae,
                mollitia debitis impedit dicta eius sunt minima.</p>
            <a href="#" class="btn">Read More</a>
        </div>

        <div class="service-box">
            <i class="bx bx-bar-chart-alt"></i>
            <h3>Digital Marketing</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae ipsum maxime deserunt molestiae,
                mollitia debitis impedit dicta eius sunt minima.</p>
            <a href="#" class="btn">Read More</a>
        </div>
    </div>
</section>


<!--contact section design-->

<section class="contact" id="contact">
    <h2 class="heading">Contact <span>Me!</span></h2>

    <form id="form">
        <div class="input-box">
            <input name="full_name" type="text" placeholder="Full Name" required>
            <input name="email" type="email" placeholder="Email Address" required>
        </div>

        <div class="input-box">
            <input name="mobile" type="number" placeholder="Mobile Number" required>
            <input name="email_subject" type="text" placeholder="Email Subject" required>
        </div>

        <textarea name="message" id="" cols="30" row="10" placeholder="Your Message" required></textarea>
        <input type="submit" value="Send Message" class="btn" id="contact-us">
    </form>
</section>

<!-- footer design -->

{% endblock  %}

{% block script %}

<script>

    form = document.getElementById('form')
  
    form.addEventListener('submit', function(e){
      e.preventDefault()
      document.getElementById('contact-us').addEventListener('click', function(){
        submitForm()
      })
    })
  

    function submitForm(){
        console.log('message...')
        let contact_us = {
            'full_name':null,
            'email_address':null,
            'mobile':null,
            'email_subject':null,
            'message':null
        }
        
        contact_us.full_name = form.full_name.value
        contact_us.email_address = form.email.value
        contact_us.mobile = form.mobile.value
        contact_us.email_subject = form.email_subject.value
        contact_us.message = form.message.value

        var url = '/contact_us/'
        fetch(url, {
          method:'POST',
          headers:{
            'Content-Type':'application/json',
            'X-CSRFToken':csrftoken,
          },
          body:JSON.stringify({'contact_us':contact_us})
        })
        .then((response)=> response.json())
        .then((data)=>{
          console.log('success: ',data)
          alert('Message sent')
          window.location.href = '/'
        })
    }





</script>
{% endblock  %}
